.pageDefault{
    font-size: 1rem;
}
.header{
    font-size: 1rem;
    height: 2rem;
    background-color: darkblue;
}
.footer{
    font-size: 1rem;
    height: 2rem;
    background-color: darkblue;
}
.hero{
    font-size: 1rem;
    height: 2rem;
    background-color: blue;
}
.info{
    font-size: 1rem;
    height: 2rem;
    background-color: white;
}
.quote{
    font-size: 1rem;
    height: 2rem;
    background-color: pink;
}
.signUp{
    font-size: 1rem;
    height: 2rem;
    background-color: lightblue;
}
